/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-color: #e52e71;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
    font-size: 18px;
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #252525;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #252525;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.login_text {
    
}
.login_text ul{
    margin: 0px;
    padding: 0px;
}

.login_text li {
    float: left;
    color: #ffffff;
    font-size: 18px;
    padding-left: 20px;
}

.login_text li a {
    color: #ffffff;
}

.login_text a:hover {
    color: #252525;
}

/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 200px 0px;
    background-repeat: no-repeat;
}

.banner_taital_main {
    width: 54%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    margin-top: 75px;
}

.banner_taital {
    width: 100%;
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.banner_text {
    width: 100%;
    font-size: 16px;
    color: #000;
    margin-left: 0px;
}

.appointment_bt {
    width: 250px;
    margin-top: 40px;
}

.appointment_bt a {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #e52e71;
    text-align: center;
    padding: 14px 20px;
    display: block;
    border-radius: 40px;
}

.appointment_bt a:hover {
    color: #ffffff;
    background-color: #252525;
}


#my_slider a.carousel-control-next {
    position: absolute;
    right: 20px;
    top: 50%;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 20px;
    top: 50%;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 55px;
    height: 55px;
    background: transparent;
    opacity: 1;
    font-size: 40px;
    color: #ffffff;
    border-radius: 100%;
    border: 2px solid #e52e71;
    font-weight: bold;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background: #e52e71;
    color: #ffffff;
}


/* banner section end */

/* services section start */

.gallery_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.gallery_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.gallery_taital::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #000;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: 0px;
}

.gallery_section_2 {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.image_main {
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.image_8 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text_main {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    text-transform: uppercase;
}

.image_main:hover .image_8 {
    opacity: ;
}

.image_main:hover .text_main {
    opacity: 5;
}

.image_main:hover .seemore_text {
    color: #ffffff;
}

.seemore_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.image_main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 0px;
    display: none;
}

.image_main:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 0px;
    display: block;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #e52e71;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    margin-top: 50px;
    font-weight: 400;
    text-transform: uppercase;
}

.seemore_bt a:hover {
    background-color: #252525;
    color: #ffffff;
}


/* services section end */


/* blog section start */

.blog_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.blog_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.blog_taital::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #000;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: 0px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 20px;
    box-shadow: 0px 2px 10px -1px;
    margin-top: 80px;
    display: flex;
}

.blog_box_left {
    width: 58%;
}

.blog_box_right {
    width: 38%;
    padding-left: 20px;
}

.good_text {
    width: 100%;
    font-size: 24px;
    color: #161514;
    font-weight: bold;
    padding-top: 45px;
}

.post_text {
    width: 100%;
    font-size: 16px;
    color: #6e6e6e;
    margin: 0px;
}

.date_text {
    float: right;
}

.lorem_text {
    width: 100%;
    font-size: 16px;
    color: #161514;
    margin: 0px;
    padding-top: 20px;
}

.read_bt_1 {
    width: 170px;
    float: left;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #e52e71;
    padding: 10px 0px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.read_bt_1 a:hover {
    background-color: #252525;
    color: #ffffff;
}




/* Zoom In #1 */

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.column {
    margin: 15px 0px 0;
    padding: 0;
}

.column:last-child {
    padding-bottom: 30px;
}

.column::after {
    content: '';
    clear: both;
    display: block;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}


/* blog section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_taital_main {
    width: 80%;
    padding-top: 60px;
}

.padding_left_0 {
    padding-left: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #161514;
    font-weight: bold;
    text-transform: uppercase;
}

.about_taital::after {
    content: '';
    position: absolute;
    width: 135px;
    height: 2px;
    background-color: #000;
    left: 0px;
    right: initial;
    margin: 0 auto;
    bottom: 10px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #161514;
    margin: 0px;
    padding-top: 40px;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 50px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #e52e71;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #252525;
}

.about_img {
    width: 100%;
    float: left;
}


/* about section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_taital::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #252525;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: 10px;
}

.contact_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.email_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #2b2278 !important;
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #2b2278 !important;
    padding: 10px 20px;
    font-size: 18px;
    color: #393838;
    -webkit-appearance: none;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 96% center;
}

span.input-group-addon {
    background-image: url(../images/calendar-icon.png);
    width: 30px;
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 19px;
    background-position: center;
}

.input-group {
    width: 100% !important;
    border: 1px solid #2b2278;
    padding: 6px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border: 0px;
}

.form-control {
    padding: 0px;
}

.gj-timepicker.gj-timepicker-bootstrap .input-group-addon {
    background: none;
}

.book_btn {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.book_btn a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #e52e71;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
}

.book_btn a:hover {
    color: #ffffff;
    background-color: #252525;
}


/* contact section end */


/* client section start */

.client_section {
    width: 100%;
    float: left;
    background-image: url(../images/client-bg.png);
    height: auto;
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital {
    width: 100%;
    font-size: 30px;
    color: #e52e71;
    font-weight: bold;
    padding-bottom: 0;
}

.client_text {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #000;
    margin-left: 0px;
}

.client_box{
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}
.client_main{
    width: 100%;
    display: flex;
}
    
.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 0px;
}

.client_img {
    width: 20%;
    padding: 20px 0px;
    display: flex;
}

.client_name {
    display: flex;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.repeat_text {
    width: 100%;
    margin: 0px;
    font-size: 16px;
    color: #282829;
    padding-left: 20px;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: -95px;
    top: 30%;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: -95px;
    top: 30%;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 55px;
    height: 55px;
    background: transparent;
    opacity: 1;
    font-size: 30px;
    color: #252525;
    border-radius: 100%;
    border: 2px solid #e52e71;
    font-weight: bold;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background: #252525;
    color: #ffffff;
}




/* client section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding: 95px 0px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 14px;
    color: #ffffff;
}

.footer_menu li a {
    color: #ffffff;
}

.footer_menu li a:hover {
    color: #e52e71;
}

.footer_menu li.active a{
    color: #e52e71;
}

.dummy_text {
    width: 30%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 14px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #ffffff;
}

.location_text li a:hover {
    color: #e52e71;
}

.padding_left_10 {
    padding-left: 10px;
}


/* footer section end */

/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    border-top: 1px solid #fff;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #e52e71;
}


/* copyright section end */

